<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>orderDish_ita-w3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testLoginServlet</display-name>
    <servlet-name>testLoginServlet</servlet-name>
    <servlet-class>Servlet.testLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testLoginServlet</servlet-name>
    <url-pattern>/testLoginServlet</url-pattern>
    <url-pattern>/testlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserExist</display-name>
    <servlet-name>UserExist</servlet-name>
    <servlet-class>Servlet.UserExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExist</servlet-name>
    <url-pattern>/exist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAjaxServlet</display-name>
    <servlet-name>CartAjaxServlet</servlet-name>
    <servlet-class>Servlet.CartAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAjaxServlet</servlet-name>
    <url-pattern>/cartAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAjaxServlet</display-name>
    <servlet-name>OrderAjaxServlet</servlet-name>
    <servlet-class>Servlet.OrderAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAjaxServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
</web-app>